/*
 * conf/base.config — per-process resource allocations
 */

process {

    // Defaults
    cpus        = 2
    memory      = '8.GB'
    time        = '4.h'
    stageInMode = 'copy'

    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withName: 'FASTQC' {
        cpus   = 4
        memory = '8.GB'
        time   = '2.h'
    }

    withName: 'TRIMMOMATIC' {
        cpus   = 8
        memory = '16.GB'
        time   = '4.h'
    }

    withName: 'STAR_HOST_REMOVAL' {
        cpus   = 16
        memory = '64.GB'
        time   = '8.h'
    }

    withName: 'KRAKEN2_CLASSIFY' {
        cpus   = 16
        memory = '64.GB'  // Kraken2 loads DB into memory
        time   = '8.h'
    }

    withName: 'KRAKEN2_FILTER' {
        cpus   = 2
        memory = '4.GB'
        time   = '1.h'
    }

    withName: 'AGGREGATE' {
        cpus   = 2
        memory = '8.GB'
        time   = '1.h'
    }

    withName: 'MULTIQC' {
        cpus   = 2
        memory = '8.GB'
        time   = '1.h'
    }

    withName: 'REPORT' {
        cpus   = 2
        memory = '8.GB'
        time   = '1.h'
    }
}
